<div class="container">
  <div class="officer-form">
    <h2><%= t("officers.headers.edit_officer") %></h2>
    <%= form_for @officer do |f| %>
      <div class="form-row">
        <div class="form-input">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-input">
          <%= f.label :position %>
          <%= f.text_field :position %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-input">
          <%= f.label :image_path %>
          <%= f.text_field :image_path %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-input">
          <%= f.label :year %>
          <%= f.text_field :year %>
        </div>
      </div>
      <%= f.submit class: "button" %>
    <% end %>
  </div>
</div>
