<%= render 'shared/header' %>
	<div class='row'>
		<div class='officers'>
			<div class='col-xl-10 col-md-10 col-sm-12 col-xs 12 col-xl-offset-1 col-md-offset-1'>
				<% @officers.each do |officer| %>
					<div class='officer-bio'>
						<div class='col-xl-4 col-md-4 col-sm-6 col-xs-6'>
							<h4> <%= officer.name %> </h4>
							<h5> <%= officer.year %> <br> <%= officer.position %> </h5>
							<%= image_tag officer.image_path, alt: "Officer Photo", class: "officer-image", size: "200x200" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
