<div class="officers">
	<div class="container">
		<% @officers.each do |officer| %>
			<div class="officer-bio">
				<% if officer.image_path.present? %>
					<div class="officer-image">
						<%= image_tag officer.image_path, alt: "Officer Photo", class: "officer-image" %>
					</div>
				<% end %>
				<div class="officer-line-item">
					<div class="officer-line-item-label"><%= t("officers.bio.labels.name") %></div>
					<div class="officer-line-item-info"><%= officer.name %></div>
				</div>
				<div class="officer-line-item">
					<div class="officer-line-item-label"><%= t("officers.bio.labels.year") %></div>
					<div class="officer-line-item-info"><%= officer.year %></div>
				</div>
				<div class="officer-line-item">
					<div class="officer-line-item-label"><%= t("officers.bio.labels.position") %></div>
					<div class="officer-line-item-info"><%= officer.position %></div>
				</div>
			</div>
		<% end %>
	</div>
</div>
