<%= render 'shared/header' %>
	<div class='container'>
		<div class='row'>
			<div class='officers'>
				<div class='col-md-10 col-xs 12 col-md-offset-1'>
					<% @officers.each do |officer| %>
						<div class='col-sm-4 col-xs-12'>
							<div class='officer-bio'>
								<%= image_tag officer.image_path, alt: "Officer Photo", class: "officer-image" %>
								<div class='officer-text text-center'>
									<h4> 
										<%= officer.name %> <br> 
										<sub><%= officer.position %><br><%= officer.year %></sub>
									</h4>
									<a href='#'> <%= icon('github') %></a>
									<a href='#'> <%= icon('linkedin') %> </a>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<%= render 'shared/footer' %>
