<div class='navbar'>
  <div class="container">
    <div class='navbar-content'>
      <%= link_to (image_tag nuacm_logo_url, alt: "NUACM Logo", class: "logo", size: "250x80"), root_path %>
        <div class='navbuttons'>
          <ul class='horizontal-list'>
            <li><%= session_account_button %></li>
          </ul>
          <ul class='horizontal-list'>
            <li><%= link_to t("nav.events"), events_path, class: "button" %></li>
            <li><%= link_to t("nav.officers"), officers_path, class: "button" %></li>
            <%= admin_account_buttons %>
          </ul>
        </div>
    </div>
  </div>
</div>
