<div class="container">
  <%= form_for @event, html: { class: "event-form" } do |f| %>
    <div class="form-row">
      <div class="form-input">
        <%= f.label :headline %>
        <%= f.text_field :headline %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-input">
        <%= f.label :abstract %>
        <%= f.text_area :abstract %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-input">
        <%= f.label :date_time %>
        <%= f.datetime_local_field :date_time %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-input">
        <%= f.label :speaker %>
        <%= f.text_field :speaker %>
      </div>
      <div class="form-input">
        <%= f.label :company %>
        <%= f.text_field :company %>
      </div>
    </div>
    <%= f.submit class: "button" %>
  <% end %>
</div>
