<!DOCTYPE html>
<html>
  <head>
    <title>Northeastern University ACM</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="main">
      <main role="main">
        <%= yield %>
      </main>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
